<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @home.title %>
</p>

<p>
  <b>Year:</b>
  <%= @home.year %>
</p>

<p>
  <b>Image:</b>
  <%= @home.image %>
</p>


<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
